* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

html {
  background-color: lightgray;
}

form {
  margin-bottom: 0;
}

#content {
  background-color: white;
  padding: 10px 30px;
  margin: 20px 50px;
}

.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.task {
  border: 2px solid dodgerblue;
  background-color: aliceblue;
}

.description {
  padding: 20px;
  border: 2px solid dodgerblue;
  margin: 40px 100px;
  background-color: aliceblue;
}

.comment {
  border: 2px solid dodgerblue;
  padding: 10px;
  margin: 10px 50px;
  background-color: aliceblue;
}

/* Status checkmarks */
.unchecked {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  transition: 0.5s;
}

.checked {
  color: green;
  text-shadow:
    -1px -1px 0 green,
    1px -1px 0 green,
    -1px 1px 0 green,
    1px 1px 0 green;
  transition: 0.5s;
}

.unavailable {
  text-shadow:
    -1px -1px 0 gray,
    1px -1px 0 gray,
    -1px 1px 0 gray,
    1px 1px 0 gray;
}

.checked.unavailable {
  color: gray;
}

/* Hover message */
.has-hover-text {
  position: relative;
  display: inline-block;
}

.hover-text {
  font-size: 14px;
  text-shadow: none;
}

.has-hover-text .hover-text {
  visibility: hidden;
  width: 160px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.has-hover-text .hover-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
}

.has-hover-text:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.has-hover-text .small {
  width: 60px;
  margin-left: -30px;
}

/* Add comments form */
#task-addcomments-container {
  padding: 30px;
  border: 2px solid dodgerblue;
  margin: 20px;
  background-color: aliceblue;
}

input {
  width: 35%;
  border: 3px solid #9cf;
  transition: 0.5s;
  outline: none;
  padding: 5px;
}

input:focus {
  border: 3px solid dodgerblue;
}

textarea {
  width: 100%;
  height: 200px;
  border: 3px solid #9cf;
  transition: 0.5s;
  outline: none;
  padding: 5px;
}

textarea:focus {
  border: 3px solid dodgerblue;
}

/* User info */
.user-stats {
  border: 2px solid blueviolet;
  margin-right: 60%;
  padding: 8px;
}

#user-skills {
  border: 2px solid blueviolet;
  padding: 10px;
  margin: 10px 50px;
}

#stats-form {
  padding: 6px;
}

#skills-form {
  padding: 6px;
}

.user-settings {
  border: 2px solid blueviolet;
  padding: 10px;
}

/* Checkmark button */
.checkmark-button {
  background: transparent;
  border: none;
  outline: none;
}

/* Deep buttons */
.deep-button {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  background-color: mediumblue;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px royalblue;
}

.deep-button:hover {
  background-color: darkblue;
}

.deep-button:active {
  background-color: darkblue;
  box-shadow: 0 5px mediumblue;
  transform: translateY(5px);
}

/*
.unavailable-deep-button {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  background-color: dimgray;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px gray;
}

.unavailable-deep-button:hover {
  background-color: #333;
}

.unavailable-deep-button:active {
  background-color: #333;
  box-shadow: 0 5px dimgray;
  transform: translateY(5px);
}
*/

/* Flat buttons */
.flat-button {
  text-align: center;
  font-size: 18px;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
  outline: none;
  background-color: lightskyblue;
  border: 2px solid dodgerblue;
  border-radius: 10px;
}

.flat-button:hover {
  background-color: dodgerblue;
}

.flat-button:active {
  background-color: dodgerblue;
}

/* status on checklist determines task color */
.incomplete {
  background-color: red;
}

.incomplete:hover {
  background-color: darkred;
}

.complete {
  background-color: green;
}

.complete:hover {
  background-color: darkgreen;
}

/* Lists */
ul {
  list-style-type: none;
  padding: 10px;
}

li {
  margin: 10px;
}

/* Style Login Page */
.login-header {
  padding: 200px 0 200px 0;
  width: 40%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.login-header h1 {
  font-size: 40px;
}

.feature img {
  height: 50%;
  width: 50%;
}

.feature {
  display: flex;
  width: 50%;
  margin: 0 auto;
  padding: 0 0 200px 0;
}

/* Style Main Hub/Home Page */
.projects,
.new-project,
#home-header {
  width: 50%;
  margin: 0 auto;
}

.projects button {
  width: 200px;
  height: 150px;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navigation li {
  float: left;
}

#navigation a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navigation a:hover {
  background-color: #111;
}

#project-container button {
  width: 200px;
  height: 150px;
}

#project-add-user-form {
  display: none;
}
