* {
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
}

#content {
  background-color: lavender;
  padding: 20px;
  margin: 20px;
}

.inline {
  display: inline-block;
}

.task {
  border: 2px solid blueviolet;
}

.comment {
  border: 2px solid blueviolet;
  padding: 10px;
  margin: 10px 50px;
}

.user-stats {
  border: 2px solid blueviolet;
  margin-right: 60%;
  padding: 8px;
}

#user-skills {
  border: 2px solid blueviolet;
  padding: 10px;
  margin: 10px 50px;
}

#stats-form {
  padding: 6px;
}

#skills-form {
  padding: 6px;
}

.user-settings {
  border: 2px solid blueviolet;
  padding: 10px;
}

/* Regular buttons */
button {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px violet;
}

button:hover {
  background-color: rebeccapurple;
}

button:active {
  background-color: rebeccapurple;
  box-shadow: 0 5px blueviolet;
  transform: translateY(5px);
}

/* status on checklist determines task color */
.incomplete {
  background-color: red;
}

.incomplete:hover {
  background-color: darkred;
}

.complete {
  background-color: green;
}

.complete:hover {
  background-color: darkgreen;
}

/* Lists */
ul {
  list-style-type: none;
  padding: 10px;
}

li {
  margin: 10px;
}

/* Style Login Page */
.login-header {
  padding: 200px 0 200px 0;
  width: 40%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.login-header h1 {
  font-size: 40px;
}

.feature img {
  height: 50%;
  width: 50%;
}

.feature {
  display: flex;
  width: 50%;
  margin: 0 auto;
  padding: 0 0 200px 0;
}

/* Style Main Hub/Home Page */
.projects,
.new-project,
#home-header {
  width: 50%;
  margin: 0 auto;
}

.projects button {
  width: 200px;
  height: 150px;
}
