* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: auto;
}

i {
  font-size: 12px;
}

a {
  text-decoration: none;
}

form {
  margin-bottom: 0;
}

label {
  padding: 0;
  margin: 0;
}

#content {
  background-color: white;
  padding: 10px 30px;
  margin: 20px 50px;
}

.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.task {
  border: 2px solid dodgerblue;
  background-color: aliceblue;
}

.description {
  padding: 20px;
  border: 2px solid dodgerblue;
  margin: 40px 100px;
  background-color: aliceblue;
}

.user-description {
  padding: 20px;
  border: 2px solid dodgerblue;
  background-color: aliceblue;
  font-size: larger;
}

.user-desc-list {
  list-style-position: outside;
  list-style-image: none;
  padding-right: 10px;
}

.comment {
  border: 2px solid dodgerblue;
  padding: 10px;
  margin: 10px 50px;
  background-color: aliceblue;
}

.selected {
  border: 1px solid black;
}

/* Lists */
ul {
  list-style-type: none;
}

/* Status checkmarks */
.unchecked {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  transition: 0.5s;
}

.checked {
  color: green;
  text-shadow:
    -1px -1px 0 green,
    1px -1px 0 green,
    -1px 1px 0 green,
    1px 1px 0 green;
  transition: 0.5s;
}

.unavailable {
  text-shadow:
    -1px -1px 0 gray,
    1px -1px 0 gray,
    -1px 1px 0 gray,
    1px 1px 0 gray;
}

.checked.unavailable {
  color: gray;
}

/* Blocker no-entry symbol */
.filled {
  color: red;
  text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red;
}

.unfilled {
  color: white;
  text-shadow:
    -1px -1px 0 gray,
    1px -1px 0 gray,
    -1px 1px 0 gray,
    1px 1px 0 gray;
}

/* Hover message */
.has-hover-text {
  position: relative;
  display: inline-block;
}

.hover-text {
  font-size: 14px;
  text-shadow: none;
}

.has-hover-text .hover-text {
  visibility: hidden;
  width: 160px;
  background-color: gray;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.hover-text a {
  color: white;
  text-decoration: underline;
}

.has-hover-text .hover-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: gray transparent transparent transparent;
}

.has-hover-text:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.has-hover-text .small {
  width: 60px;
  margin-left: -30px;
}

/* Task Tree */
ul.task-tree {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

.task-tree {
  padding: 0;
}

.task-tree-leaf-node {
  margin-left: 22px;
}

.task-tree-node {
  cursor: pointer;
  user-select: none;
  margin: 0;
}

.task-tree-node::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.task-tree-node-down::before {
  transform: rotate(90deg);
}

.task-tree .task-tree {
  display: none;
}

.task-tree .active {
  display: block;
}

.blocker,
.blocked {
  cursor: pointer;
}

/* Task Tree Pop-Up */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 60%;
}

.close {
  color: gray;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add comments form */
#task-addcomments-container {
  padding: 30px;
  border: 2px solid dodgerblue;
  margin: 20px;
  background-color: aliceblue;
}

input:not(.hidden) {
  width: 35%;
  border: 3px solid #9cf;
  transition: 0.5s;
  outline: none;
  padding: 5px;
}

input:focus:not(.hidden) {
  border: 3px solid dodgerblue;
}

textarea {
  width: 100%;
  height: 200px;
  border: 3px solid #9cf;
  transition: 0.5s;
  outline: none;
  padding: 5px;
}

textarea:focus {
  border: 3px solid dodgerblue;
}

/* User info */
.user-stats {
  border: 2px solid blueviolet;
  margin-right: 60%;
  padding: 8px;
}

#user-skills {
  border: 2px solid blueviolet;
  padding: 10px;
  margin: 10px 50px;
}

#stats-form {
  padding: 6px;
}

#skills-form {
  padding: 6px;
}

#task-subtasks-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#user-page-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-settings {
  border: 2px solid blueviolet;
  padding: 10px;
}

/* Checkmark button */
.checkmark-button {
  background: transparent;
  border: none;
  outline: none;
}

.private-comment {
  width: 100px;
  height: 100px;
}

/* Deep buttons */
.deep-button {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  background-color: mediumblue;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px royalblue;
}

.deep-button:hover {
  background-color: darkblue;
}

.deep-button:active {
  background-color: darkblue;
  box-shadow: 0 5px mediumblue;
  transform: translateY(5px);
}

#pc-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
.unavailable-deep-button {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  background-color: dimgray;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px gray;
}

.unavailable-deep-button:hover {
  background-color: #333;
}

.unavailable-deep-button:active {
  background-color: #333;
  box-shadow: 0 5px dimgray;
  transform: translateY(5px);
}
*/

/* Flat buttons */
.flat-button {
  text-align: center;
  font-size: 18px;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
  outline: none;
  background-color: lightskyblue;
  border: 2px solid dodgerblue;
  border-radius: 10px;
}

.flat-button:hover {
  background-color: dodgerblue;
}

.flat-button:active {
  background-color: dodgerblue;
}

/* status on checklist determines task color */
.incomplete {
  background-color: red;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.incomplete:hover {
  background-color: darkred;
}

.complete {
  background-color: green;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.complete:hover {
  background-color: darkgreen;
}

/* HOME PAGE */
.project-container {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
}

.project-box {
  margin: 10px 10px;
  transition: transform 300ms;
}

.project-box:hover {
  transform: scale(1.1);
}

.project-box-content {
  color: white;
  background-color: #4285f4;
  border-radius: 5px;
  width: 200px;
  height: 150px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PROJECT PAGE */
.project-page-top-bar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px;
}

.page-header-title-and-actions {
  display: flex;
  align-items: center;
}

.page-header-title-and-actions h1 {
  padding: 0 0 20px 10px;
  margin-right: 20px;
  font-weight: bold;
}

.page-header-description {
  padding: 0 0 20px 20px;
  display: none;
}

.page-header-actions-selector {
  cursor: pointer;
}

#angle-down {
  color: gray;
  font-size: 25px;
}

.page-header-actions {
  background-color: white;
  width: 185px;
  position: absolute;
  border: 1px solid lightgray;
  border-radius: 3px;
  display: none;
}

.action-list-item a {
  padding: 10px;
  display: flex;
  font-size: 16px;
  color: black;
  align-items: center;
}

.action-list-item i {
  padding-right: 10px;
}

.action-list-item:hover {
  background-color: lightgray;
}

.page-header-nav {
  display: flex;
}

.project-header-tab {
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 0 10px;
  transition: background 0.4s linear;
}

.project-header-tab p {
  font-weight: bold;
  overflow: hidden;
  max-width: 0;
}

.project-header-tab.active p {
  margin-left: 10px;
  max-width: 200px;
  transition: max-width 0.4s linear;
}

.project-header-tab.active {
  background-color: #4285f4;
  color: white;
}

.project-section {
  display: none;
  margin: 100px auto;
  width: 60%;
}

.project-section.active {
  display: block;
}

/* MODALS */

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 20px 50px;
  position: relative;
}

.modal-content > * {
  display: block;
  margin: 10 auto;
}

.modal-close {
  top: 0;
  right: 10px;
  position: absolute;
  cursor: pointer;
}

.modal-close i {
  font-size: 20px;
}

/* NAVIGATION BAR */

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navigation li {
  float: left;
}

#navigation a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navigation a:hover {
  background-color: #111;
}


